* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HOME PAGE*/
/* VISTA MOBILE = MOBILE FIRST*/
.table > :not(caption) > * > * {
  padding: 0.2rem 0.2rem;
}

.main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(240, 247, 238);
}
.main .main__h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
  margin: 1rem 1rem 0rem 1rem;
  color: rgb(11, 24, 40);
}
.main article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .cards {
  width: 220px;
  height: 450px;
  border-radius: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .cards .img {
  height: 150px;
  width: 90px;
}
.main .cards .add {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .cards .cantidad {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}
.main .cards .cantidad p {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}
.main .cards .cantidad .button-container {
  border: none;
  background-color: white;
}
.main .cards .cantidad .button-container i {
  font-size: 2rem;
}
.main .cards .cantidad .button-container i .buttonAdd {
  color: black;
}
.main .cards .noselect {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #bdf95d;
  border: none;
  border-radius: 5px;
  background: #bdf95d;
}
.main .cards .noselect,
.main .cards .noselect span {
  transition: 200ms;
}
.main .cards .noselect .text {
  transform: translateX(35px);
  color: black;
  font-weight: bold;
}
.main .cards .noselect .icon {
  position: absolute;
  border-left: 1px solid #bdf95d;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .cards .noselect i {
  width: 15px;
  fill: #eee;
}
.main .cards .noselect:hover {
  background: #bdf95d;
}
.main .cards .noselect:hover .text {
  color: transparent;
}
.main .cards .noselect:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}
.main .cards .noselect:focus {
  outline: none;
}
.main .cards .noselect:active .icon i {
  transform: scale(0.8);
}

.modal-content {
  background-color: rgb(11, 24, 40);
}

img {
  height: 100%;
  width: 100%;
}

.fuente {
  font-family: "Roboto", sans-serif;
}

/*VISTA MOBILA FOOTER*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(240, 247, 238);
}

footer {
  margin-top: auto;
}

footer {
  background-color: rgb(11, 24, 40);
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
footer .grilla {
  display: grid;
  grid-template-areas: "logo" "redes" "descripcion";
  justify-items: center;
}
footer .grilla .footer__logo {
  height: 100px;
  width: 100px;
  grid-area: logo;
  background-color: transparent;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
footer .grilla .footer__logo .logo__footer {
  color: #fff;
  margin-left: 1rem;
}
footer .grilla .footer__logo img {
  height: 100%;
  width: 100%;
}
footer .grilla .footer__logo .imagen1 {
  display: block;
}
footer .grilla .footer__logo .imagen2 {
  display: none;
}
footer .grilla .footer__redes {
  grid-area: redes;
}
footer .grilla .footer__redes i {
  font-size: 2.1rem;
  color: #bdf95d;
}
footer .grilla .wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  padding-top: 20px;
  margin-right: 30px;
  font-family: "Poppins", sans-serif;
  justify-content: flex-start;
}
footer .grilla .wrapper .icon {
  position: relative;
  background: rgb(11, 24, 40);
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .grilla .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .grilla .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 3;
}
footer .grilla .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
footer .grilla .wrapper .icon:hover span,
footer .grilla .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
footer .grilla .wrapper .twitter:hover,
footer .grilla .wrapper .twitter:hover .tooltip,
footer .grilla .wrapper .twitter:hover .tooltip::before {
  background-color: #25D366;
  color: #fff;
}
footer .grilla .wrapper .facebook:hover,
footer .grilla .wrapper .facebook:hover .tooltip,
footer .grilla .wrapper .facebook:hover .tooltip::before {
  background-color: #1877F2;
  color: #fff;
}
footer .grilla .wrapper .instagram:hover,
footer .grilla .wrapper .instagram:hover .tooltip,
footer .grilla .wrapper .instagram:hover .tooltip::before {
  background-color: #E4405F;
  color: #fff;
}
footer .grilla .footer__aclaracion {
  width: 100%;
  color: #bdf95d;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  font-size: 0.8rem;
  grid-area: descripcion;
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
  footer .grilla {
    display: grid;
    grid-template-areas: "logo redes" "linea linea" "descripcion descripcion";
    grid-template-rows: 100px 20px 100px;
    grid-template-columns: 1fr 1.5fr;
    justify-items: flex-start;
  }
  footer .grilla .footer__logo {
    height: 65px;
    width: 200px;
    grid-area: logo;
    background-color: transparent;
    margin-top: 30px;
  }
  footer .grilla .footer__logo .imagen1 {
    display: none;
  }
  footer .grilla .footer__logo .imagen2 {
    display: block;
  }
  footer .grilla .footer__redes {
    grid-area: redes;
  }
  footer .grilla .footer__redes .wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
  }
  footer .grilla .separacion {
    grid-area: linea;
  }
  footer .grilla .separacion .footer__separacion {
    display: absolute;
    width: 100vw;
    border-top: 2px solid rgb(245, 196, 52);
    height: 2px;
    max-width: 60%;
    padding: 0;
    margin: 20px auto 0 auto;
  }
  footer .grilla .footer__aclaracion {
    height: 40%;
    width: 100%;
    color: rgb(240, 247, 238);
    padding: 2rem 2rem 0rem 2rem;
    font-size: 1rem;
    grid-area: descripcion;
  }
}
/* NAVBAR*/
header {
  position: sticky;
  top: 0px;
  z-index: 4;
}
header .div__logo {
  height: 50px;
  width: 50px;
  background-color: transparent;
}
header .div__logo img {
  height: 100%;
  width: 100%;
}
header .div__logo .imagen1 {
  display: block;
}
header .div__logo .imagen2 {
  display: none;
}
header .header-icons {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-icons i {
  color: #bdf95d;
  font-size: 1.5rem;
}
header li {
  list-style: none;
  margin-right: 0.5rem;
}
header ul {
  height: 30px;
}
header .navbar-brand {
  color: #bdf95d;
}

.color {
  background-color: rgb(11, 24, 40);
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  header .div__logo {
    height: 50px;
    width: 209px;
  }
  header .div__logo .imagen1 {
    display: none;
  }
  header .div__logo .imagen2 {
    display: block;
  }
}

/*# sourceMappingURL=estilos.css.map */
