/* NAVBAR*/
@use 'variables';

header{
    position: sticky;
    top: 0px;
    z-index: 4;
    .div__logo{
        height: 50px;
        width: 50px;
        background-color: transparent;
        img{
            height: 100%;
            width: 100%;
        }
        .imagen1{
            display: block;
        }
        .imagen2{
            display: none;
        }
    }
    .header-icons{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        i{
            color: #bdf95d;
            font-size: 1.5rem;
        }
    }
    li{
        list-style: none;
        margin-right: 0.5rem;
    }
    ul{
        height: 30px;
    }
    .navbar-brand{
        color:#bdf95d;
    }
}

.color{
    background-color: rgb(11 24 40);
}

/* DESKTOP */
@media screen and (min-width: 1024px){
    header{
        .div__logo{
            height: 50px;
            width: 209px;
            .imagen1{
                display: none;
            }
            .imagen2{
                display: block;
            }
        }
    }
}