/* NAVBAR*/
@use 'variables';

header{
    position: sticky;
    top: 0px;
    z-index: 4;
    .header__nav__div__logo{
        height: 50px;
        width: 50px;
        background-color: transparent;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .header-icons{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        i{
            color: white;
            font-size: 1.5rem;
        }
    }
    li{
        list-style: none;
        margin-right: 0.5rem;
    }
}

.color{
    background-color: variables.$color-dark;
}