//colors

$color-main: rgb(240, 247, 238);
$color-yellow: rgb(245, 196, 52);
$color-dark: rgb(42, 43, 46);
$color-white: #fff;

//font
$font-roboto: 'Roboto', sans-serif;
$font-poppins: "Poppins", sans-serif;